// Tipografia
$fuenteTitulos: 'Numans', sans-serif;
$fuenteParrafos: 'Monserrat', sans-serif;

// Colores
$azulClaro: rgb(208, 233, 234);
$naranjaOscuro: rgb(250, 203, 160);
$naranjaClaro: rgb(253, 236, 220);
$anaranjado: rgb(244, 161, 108);
$naranja: rgb(239, 122, 26);
$negro: #000000;
$negroClaro: rgb(92, 92, 92);
$blanco: #ffffff;
$verde: rgb(28, 132, 129);
$fondoGris:rgb(244, 242, 236);
$fondoAzul: rgb(4, 74, 99);
$azulOscuro: rgb(6, 104, 109);

// Media Queries
$phone: 480px;
$tablet: 768px;
$pc: 992px;
$pcXl: 1200px;